{% extends "base.html.twig" %}
{% block title %}Ma boutique: Home page
{% endblock %}
{% block body %}
	<h1>
		Bienvenue sur ma boutique
	</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit labore repudiandae praesentium ad eos, earum laborum sint nobis maiores veniam corrupti illo ea culpa ipsa, numquam placeat reprehenderit. Qui, beatae?</p>
	<p>Esse, necessitatibus. Facere consequatur aut natus qui optio commodi aliquam cupiditate vitae quo, aliquid modi quibusdam quas vero asperiores veniam molestiae doloribus autem odio id eum in praesentium ipsa. Aspernatur!</p>
     
        


{% endblock %}

