{% extends 'base.html.twig' %}

{% block title %}Ma boutique : les categories
{% endblock %}

{% block body %}
	<section>
		{# viens de controller detailCategory  #}
		{% for category1 in category %}
			<article>
				<h2>Pour la categorie :
					{{ category1.name }}</h2>


				<a href="{{ path('delete_cat', {'id':category1.id}) }}" class="btn btn-primary">
					Delete</a>
				<a href="{{ path('add_category', {'id':category1.id}) }}" class="btn btn-info">
					modifier category</a>
			</article>

		{% endfor %}
		<br>
		<a href="{{ path('new_category') }}" class="btn btn-warning">
			nouvelle category</a>
	</section>
	<br><br>
{% endblock %}
